/* Custom properties */

/* Common theme */
:root {
  --primary-font: 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --primary-color: #0d65a3;
  --secondary-color: #99c3ea;

  --blue-5: #3b8ac3;
  --blue-6: #73abd3;
  --blue-7: #0a456f;
  --blue-8: #81b2d6;

  --white: #fff;

  --black: #000;
  --black-1: #0c0c0c;
  --black-2: #121212;
  --black-3: #1c1c1c;
  --black-4: #222222;
  --black-5: #282828;
  --black-6: #2e2e2e;

  --Grey-1: #777777;
  --Grey-2: #ededed;
  --Grey-3: #f8f8f8;

  --link-color: var(--blue-5);
  --header-color: var(--white) !important;
  --breadcrumbs-link-fg: var(--white) !important;
  --breadcrumbs-fg: var(--primary-color) !important;

}

/* Dark theme */
html[data-theme="dark"] {
  --text-color:  var(--white);
  --bg-color: var(--black-2);
  --menu-bg-color: var(--black-2);
  --selected-row: var(--black-6);

  --table-header: var(--black-1);
  --table-header-sorted: var(--black-1);
  --hover-color: var(----black-3);
  --input-menu-color: var(--black-5); 
  --footer-bg: var(--black-4);
  --footer-color: var(--white);
  --footer-border: #4d4d4d;
}

/* Light theme */
html[data-theme="light"] {
  --text-color: var(--black);
  --bg-color: var(--white);
  --selected-row: var(--Grey-2);
  --table-header: #e0edf6;
  --table-header-sorted: #e0edf6;
  --footer-bg: var(--Grey-3);
  --footer-border: var(--Grey-2);
  --footer-color: var(--Grey-1);
}

@media (prefers-color-scheme: light) {
  html[data-theme="auto"] {
    --text-color: var(--black);
    --bg-color: var(--white);
    --selected-row: var(--Grey-2);
    --table-header: #e0edf6;
    --table-header-sorted: #e0edf6;
    --footer-bg: var(--Grey-3);
    --footer-border: var(--Grey-2);
    --footer-color: var(--Grey-1);
   }
}

@media (prefers-color-scheme: dark) {
  html[data-theme="auto"] {
    --text-color:  var(--white);
    --bg-color: var(--black-2);
    --menu-bg-color: var(--black-2);
    --selected-row: var(--black-6);
  
    --table-header: var(--black-1);
    --table-header-sorted: var(--black-1);
    --hover-color: var(----black-3);
    --input-menu-color: var(--black-5); 
    --footer-bg: var(--black-4);
    --footer-color: var(--white);
    --footer-border: rgb(77, 77, 77);
   }
}

body {
    -webkit-font-smoothing: unset;
    -moz-osx-font-smoothing: unset;
    font-family: var(--primary-font);
    font-smoothing: unset;
    line-height: 1.2;
    background: var(--bg-color);
}

fieldset {
  padding: 0;
}

/* LINKS */
a:link, a:visited {
   color: var(--link-color);
   text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

#header {
  background: var(--primary-color);
  color: var(--white);
  height: auto;
  padding: 18px 40px;
}

#header a:link, #header a:visited {
  color: var(--white);
  border-bottom: none;
}

#site-name img {
  margin: -2px 10px 0 0;
  height: 45px;
  width: auto;
}

#header #user-tools a:hover {
  color: #96c7de;
  border-bottom: 1px solid;
  border-color: #96c7de;
}

#branding h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
  color: var(--white);
}

body.login #header h1 {
  text-align: center;
  line-height: 1.2em;
  margin: 20px 10px;
}

body.login #header h1 a {
  color: var(--white);
}

body.login #branding {
  width: 100%;
}

body.login #site-name img {
  display: block;
  margin:0 auto;
  width: 50px;
  height: auto;
  padding-bottom: 10px;
}

.module h2, .module caption, .inline-group h2 {
  background: var(--primary-color);
  line-height: normal;
}

div.breadcrumbs {
  background: var(--secondary-color);
  color: --breadcrumbs-fg;
}

div.breadcrumbs a:hover {
  color: var(--primary-color);
}

h1 {
  font-size: 1.8em;
  color: var(--text-color);
  line-height: 1.5;
  letter-spacing: 0;
}

h2 {
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: bold;
}

thead th {
   background: var(--table-header);
}

thead th.sorted {
  background: var(--table-header-sorted);
}

table thead th .text a:focus, table thead th .text a:hover {
  background: var(--hover-color);
}

ul.messagelist li.success {
  background-color: #e0edf6;
}

.button, input[type="submit"], input[type="button"], .submit-row input, a.button {
  background: #3b8ac3;
}

.button.default, input.default[type="submit"], .submit-row input.default {
  background: var(--primary-color);
}

.submit-row a.deletelink {
  box-sizing: content-box;
}

.selector-chosen h2 {
  background: #73abd3!important;
}

.button:hover, input[type="submit"]:hover, input[type="button"]:hover, .submit-row input:hover, a.button:hover {
  background: #0a456f;
}

.button.default:hover, input.default[type="submit"]:hover, .submit-row input.default:hover {
  background: #0a456f;
}

.object-tools a:focus, .object-tools a:hover {
  background-color: var(--primary-color);
}

#changelist-search div {
  padding: 10px;
}

#changelist-filter li.selected {
  border-left: 5px solid var(--primary-color);
}

#changelist-filter a:focus, #changelist-filter a:hover, #changelist-filter li.selected a:focus, #changelist-filter li.selected a:hover {
  color: var(--primary-color);
}

.calendar caption, .calendarbox h2 {
   background: #e0edf6!important;
}

.calendar td.selected a {
   background: var(--primary-color)!important;
}

.calendar td a:focus, .timelist a:focus, .calendar td a:hover, .timelist a:hover {
   background: var(--blue-8)!important;
}

#nav-sidebar {
  background: var(--menu-bg-color);
}

#nav-filter {
  background: var(--input-menu-color);
}

#nav-filter::-webkit-input-placeholder {
  color: #c7c7c7;
}

.microdisseny-footer {
  padding: 20px 40px;
  border-top: 1px solid var(--footer-border);
  margin: 60px 0 0;
  color: var(--footer-color);
  background: var(--footer-bg);
  font-size: .9em;
}
