/* Custom properties */

/* Comun theme */
:root {
  --primary-color: #0064a5;
  --secondary-color: #659cc1;
  --link-color: rgb(113, 156, 230);
  --header-color: #eeeeee;
}

/* Dark theme */
html[data-theme="dark"] {
  --text-color: #eeeeee;
  --bg-color: rgb(18, 18, 18);
  --separate-color: rgb(88, 88, 88);
  --menu-bg-color: rgb(33, 33, 33);
  --selected-row: rgb(48, 48, 48);

  --table-header: rgb(12, 12, 12);
  --table-header-sorted: #252525;
  --hover-color: #1c1c1c;
  --input-menu-color:rgb(41, 41, 41); 
}

/* Light theme */
html[data-theme="light"] {
  --text-color: #000;
  --bg-color: rgb(255, 255, 255);
  --selected-row: rgb(224, 228, 230);
}

@media (prefers-color-scheme: light) {
  html[data-theme="auto"] {
    --text-color: #000;
    --bg-color: rgb(255, 255, 255);
    --selected-row: rgb(224, 228, 230);
   }
}

@media (prefers-color-scheme: dark) {
  html[data-theme="auto"] {
    --text-color: #eeeeee;
    --bg-color: rgb(18, 18, 18);
    --separate-color: rgb(88, 88, 88);
    --menu-bg-color: rgb(33, 33, 33);
    --selected-row: rgb(48, 48, 48);

    --table-header: rgb(12, 12, 12);
    --table-header-sorted: #252525;
    --hover-color: #1c1c1c;
    --input-menu-color:rgb(41, 41, 41); 
   }
}

body {
    -webkit-font-smoothing: unset;
    -moz-osx-font-smoothing: unset;
    font-smoothing: unset;
    line-height: 1.2;
    background: var(--bg-color);
}

fieldset {
  padding: 0;
}

/* LINKS */
a:link, a:visited {
   color: var(--link-color);
   text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

#header {
  background: var(--primary-color);
  color: #fff;
  height: auto;
  padding: 18px 40px;
}

#header a:link, #header a:visited {
  color: #fff;
  border-bottom: none;
}

#site-name img {
  margin: -2px 10px 0 0;
  height: 45px;
  width: auto;
}

#header #user-tools a:hover {
  color: #96c7de;
  border-bottom: 1px solid;
  border-color: #96c7de;
}

#branding h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
  color: #fff;
}

body.login #header h1 {
  text-align: center;
  line-height: 1.2em;
  margin: 20px 10px;
}

body.login #header h1 a {
  color: #fff;
}

body.login #branding {
  width: 100%;
}

body.login #site-name img {
  display: block;
  margin:0 auto;
  width: 50px;
  height: auto;
  padding-bottom: 10px;
}

.module h2, .module caption, .inline-group h2 {
  background: var(--primary-color);
  line-height: normal;
}

div.breadcrumbs {
  background: var(--secondary-color);
  color: var(--text-color)
}

div.breadcrumbs a:hover {
  color: var(--primary-color);
}

h1 {
  font-size: 1.8em;
  color: var(--text-color);
  line-height: 1.5;
  letter-spacing: 0;
}

h2 {
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: bold;
}

thead th {
   background: var(--table-header);
}

thead th.sorted {
  background: var(--table-header-sorted);
}

table thead th .text a:focus, table thead th .text a:hover {
  background: var(--hover-color);
}

ul.messagelist li.success {
  background-color: #e0edf6;
}

.button, input[type="submit"], input[type="button"], .submit-row input, a.button {
  background: #3b8ac3;
}

.button.default, input.default[type="submit"], .submit-row input.default {
  background: var(--primary-color);
}

.submit-row a.deletelink {
  box-sizing: content-box;
}

.selector-chosen h2 {
  background: #73abd3!important;
}

.button:hover, input[type="submit"]:hover, input[type="button"]:hover, .submit-row input:hover, a.button:hover {
  background: #0a456f;
}

.button.default:hover, input.default[type="submit"]:hover, .submit-row input.default:hover {
  background: #0a456f;
}

.object-tools a:focus, .object-tools a:hover {
  background-color: var(--primary-color);
}

#changelist-search div {
  padding: 10px;
}

#changelist-filter li.selected {
  border-left: 5px solid var(--primary-color);
}

#changelist-filter a:focus, #changelist-filter a:hover, #changelist-filter li.selected a:focus, #changelist-filter li.selected a:hover {
  color: var(--primary-color);
}

.calendar caption, .calendarbox h2 {
   background: #e0edf6!important;
}

.calendar td.selected a {
   background: var(--primary-color)!important;
}

.calendar td a:focus, .timelist a:focus, .calendar td a:hover, .timelist a:hover {
   background: #81b2d6!important;
}

#nav-sidebar {
  background: var(--menu-bg-color);
}

#nav-filter {
  background: var(--input-menu-color);
}

#nav-filter::-webkit-input-placeholder {
  color: rgb(199, 199, 199)  ;
}

.microdisseny-footer {
  padding: 20px 40px;
  border-top: 1px solid var(--separate-color);
  margin: 60px 0 0;
  color: var(--text-color);
  background: var(--bg-color);
  font-size: .9em;
}
