:root {
  --primary: #0d65a3;
  --secondary: #99c3ea;
  --accent: #fff;

  --breadcrumbs-bg: var(--secondary);
  --breadcrumbs-fg: var(--primary);
  --header-bg: var(--primary);
  --header-color: var(--accent);
  --header-link-color: var(--accent);
  --link-fg: #3588c5;
  --link-hover-color: var(--primary);

  --blue-5: #3b8ac3;
  --blue-6: #73abd3;
  --blue-7: #0a456f;
  --blue-8: #81b2d6;
  --white-2: #e0edf6;
  --white-3: #e3f2fe;
  --white-4: #eee;
  --white-5: #f8f8f8;
  --grey-1: #777;
}

@media (prefers-color-scheme: dark) {

}

body {
  -webkit-font-smoothing: unset;
  -moz-osx-font-smoothing: unset;
  font-smoothing: unset;
  line-height: 1.2;
}

fieldset {
  padding: 0;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#header {
  height: auto;
  padding: 18px 40px;
}

#header a:link, #header a:visited {
  border-bottom: none;
}

#site-name img {
  margin: -2px 10px 0 0;
  height: 45px;
  width: auto;
}

#header #user-tools a:hover {
  color: var(--secondary);
  border-bottom: 1px solid;
  border-color: var(--secondary);
}

#branding h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
  color: var(--accent)
}

body.login #header h1 {
  text-align: center;
  line-height: 1.2em;
  margin: 20px 10px;
}

body.login #header h1 a {
  color: var(--accent)
}

body.login #branding {
  width: 100%;
}

body.login #site-name img {
  display: block;
  margin:0 auto;
  width: 50px;
  height: auto;
  padding-bottom: 10px;
}

.module h2, .module caption, .inline-group h2 {
  line-height: normal;
}

h1 {
  font-size: 1.8em;
  line-height: 1.5;
  letter-spacing: 0;
}

h2 {
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: bold;
}

thead th {
  background: var(--white-2);
}

thead th.sorted {
  background: var(--white-2);
}

table thead th .text a:focus, table thead th .text a:hover {
  background: var(--white-3);
}

ul.messagelist li.success {
  background-color: var(--white-2);
}

.button, input[type="submit"], input[type="button"], .submit-row input, a.button {
  background: var(--blue-5);
}

.button.default, input.default[type="submit"], .submit-row input.default {
  background: var(--primary);
}

.submit-row a.deletelink {
  box-sizing: content-box;
}

.selector-chosen h2 {
  background: var(--blue-6)!important;
}

.button:hover, input[type="submit"]:hover, input[type="button"]:hover, .submit-row input:hover, a.button:hover {
  background: var(--blue-7);
}

.button.default:hover, input.default[type="submit"]:hover, .submit-row input.default:hover {
  background: var(--blue-7);
}

.object-tools a:focus, .object-tools a:hover {
  background-color: var(--primary);
}

#changelist-search div {
  padding: 10px;
}

#changelist-filter li.selected {
  border-left: 5px solid var(--primary);
}

#changelist-filter a:focus, #changelist-filter a:hover, #changelist-filter li.selected a:focus, #changelist-filter li.selected a:hover {
  color: var(--primary);
}

.calendar caption, .calendarbox h2 {
  background: var(--white-2)!important;
}

.calendar td.selected a {
  background: var(--primary)!important;
}

.calendar td a:focus, .timelist a:focus, .calendar td a:hover, .timelist a:hover {
  background: var(--blue-8)!important;
}

.microdisseny-footer {
  padding: 20px 40px;
  border-top: 1px solid var(--white-4);
  margin: 60px 0 0;
  color: var(--grey-1);
  background: var(--white-5);
  font-size: .9em;
}